@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url(img/bg.jpg) #030728 no-repeat center;
  background-size: cover;
}

.slider-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.card-list-container {
  display: flex;                  
  gap: 40px;
  width: 100%;
  max-width: 1100px;
  overflow-x: auto;               
  scroll-behavior: smooth;
  padding: 10px 40px;
  scroll-snap-type: x mandatory; 
}

.card-list-container::-webkit-scrollbar {
  display: none; 
}

#backBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

#backBtn {
  left: 100px
}

#nextBtn {
  right: 80px;
}

.card-item {
  flex: 0 0 auto;       
  width: 340px;         
  color: #fff;
  user-select: none;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  scroll-snap-align: start; 
}

.card-item .user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #fff;
  padding: 4px;
}

.card-item .user-profession {
  font-size: 1rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 10px 0 20px;
}

.card-item .message-button {
  font-size: 1rem;
  padding: 10px 25px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 1024px) {
    #nextBtn{
        right: 15px;
    }

    #backBtn{
        left: 15px;
    }
}


@media (max-width: 480px) {
  .card-list-container {
    scroll-snap-type: x mandatory;  
    scroll-padding: 0;              
    gap: 0;                         
    padding: 0;                     
  }

  .card-item {
    flex: 0 0 100%;      
    max-width: 100%;     
    scroll-snap-align: center; 
    border-radius: 10px;    
  }
}




